body{
    background-color:#a5befa ;
    font-family: Verdana;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-family: Verdana;
    background-color: #451531;
    font-size: 28px;
    margin:20px;
    color:white;
    padding:20px 200px;    
    border:solid;
    border-color: darkred;
}

.gostos{
    font-family: Verdana;
    background-color: #b3093f;
    font-size: 18px;
    margin:20px;
    padding:20px 200px;
    border:solid;
    border-color: darkred;
}

ul{
   
    font-family: Verdana;
    background-color: white;
    border-radius: 50%;
    color:darkgrey;
    font-size: 17px;
    padding:1px 200px;
    border:solid;
    border-color: darkred;
}

.periodo{
    font-family: Verdana;
    background-color: #ff3877;
    font-size: 18px;
    border:solid;
    border-color: darkred;
    margin:20px;
    padding:20px 100px;

    
}
.divisao{
    color:darkslateblue;
    
}
a{
    margin: 40px 0px 0px 0px;
    padding: 10px 50px;
}